# --- General ---
.DS_Store
*.log
*.db
*.sqlite3

# --- Environments ---
.env
.venv/
venv/
.uv-cache/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Rust & Scarb ---
target/
.snfoundry_cache/
Cargo.lock

# --- Build Artifacts ---
build/
dist/
*.zip
*.json

# --- IDEs ---
.idea/
.vscode/

# --- Whitelist ---
# Keep specific files that would otherwise be ignored
!example.env
!packages/cairo-lang-0.13.3.zip
!examples/**/*.json
!crates/server/tests/*.json

# State server db folder
crates/state_server/db
db