# Virtual Environment
venv/
.profiling/

# Python Artifacts
__pycache__/
*.egg-info/
*.pickle

# Build Artifacts
build/
dist/

# Data Files
/src/single_chunk_processor/data/*.json
/src/single_chunk_processor/data/*.zip

# Environment Files
*.env

# Miscellaneous
.idea/
.vscode/
*.zip
*.json
*.db
*.log
cache/
out/
.gas-snapshot
.encryptedKey
broadcast/

# Node.js
node_modules/
package-lock.json

# System Files
.DS_Store
src/.DS_Store

# Solidity Verifier
solidity-verifier/lib/*

# Cairo VM
cairo-vm

# HDP
hdp-test/
hdp/

# Whitelist - these files should not be ignored
!tests/cairo_programs/fixtures/*.json
!tools/js/package.json
!packages/cairo-lang-0.13.1.zip
