venv/
*profiling*
__pycache__
/build/*.json
/build/compiled_cairo_files/*.json
*.pickle
/src/single_chunk_processor/data/*.json

/src/single_chunk_processor/data/*.zip
*.env

*.zip
*.json
*.db
*.log
cache/
out/
.gas-snapshot
.vscode/
.env
.encryptedKey
broadcast/
.idea
node_modules
package-lock.json

hdp-test

.DS_Store
src/.DS_Store

solidity-verifier/lib/*

# whitelist hdp fixtures
!tests/cairo_programs/fixtures/*.json
!src/hdp_input.json
!tools/js/package.json